@model Users
@{
    ViewData["Title"] = "Sign Up";
}

<main class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
            <div class="card smooth-shadow-md">
                <!-- Card body -->
                <div class="card-body p-6">
                    <!-- Form -->
                    <form method="post">
                        <!-- Username -->
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" asp-for="Username" placeholder="Username here">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email here">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <!-- Password -->
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password here">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password here">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Sign
                                    Up
                                </button>
                            </div>

                            <div class="d-md-flex justify-content-between mt-4">
                                <div class="mb-2 mb-md-0">
                                    <a asp-action="login" asp-controller="account" class="fs-5">
                                        Log
                                        In
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>